@charset "utf-8";
.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 70px;
  background-color: #4dd0e1;
}

.main {
  display: flex;
}

.sidebar {
  width: 300px;
  height: 500px;
  background-color: #ffe082;
}

.content {
  width: 900px;
  height: 500px;
  background-color: #a5d6a7;
}

.footer {
  height: 130px;
  background-color: #bdbdbd;
}